:root {
  --colour1: #e7eaf6;
  --colour2: #a2a8d3;
  --colour3: #38598b;
  --colour4: #113f67;
  --colour5: rgb(96, 96, 96);
  --colour6: rgb(124, 123, 123);
  --colour7: rgb(163, 34, 34);
  --colour8: rgb(225, 60, 60);
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--colour1);
}

/* HEADER STYLING */
header {
  padding: 30px 0px 30px 0px;
  background-color: var(--colour4);
}

#nav-container {
  display: flex;
  justify-content: flex-end;
}

#nav-links {
  margin: 0 20px 0 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

#nav-links a {
  text-decoration: none;
  padding: 7px 10px;
  color: var(--colour2);
  font-weight: bold;
}

#nav-links a:hover {
  color: var(--colour1);
}

#logout-btn {
  background-color: var(--colour4);
  color: var(--colour2);
  padding: 7px 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

#logout-btn:hover {
  color: var(--colour1);
}

#title-container {
  display: flex;
  justify-content: center;
}

.blog-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 4rem;
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--colour4);
  background-color: var(--colour1);
  box-shadow: 7px 7px 1px var(--colour2);
}

/* ---------------- MAIN SECTION  ---------------- */

/* BLOG STYLING */
.blog-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-content-container {
  width: 80%;
  border: 3px solid var(--colour3);
  border-radius: 5px;
}

.blog-title {
  background-color: var(--colour4);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.blog-title p {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--colour1);
}

.user p {
  font-size: 1.3rem;
  color: var(--colour2);
}

.blog-content {
  background-color: var(--colour1);
  padding: 15px 20px;
  line-height: 1.5;
}

/* LOGIN FORM STYLING */
#login-container {
  background-color: var(--colour2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 50px 10px 50px;
  border: 3px solid var(--colour4);
  gap: 15px;
}

#login-header {
  background-color: var(--colour4);
  width: 100%;
  color: var(--colour1);
  padding: 10px 15px;
}

#login-form {
  width: 100%;
}

.form-group {
  padding: 10px 15px;
}

#email-login {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0 0 0 10px;
}

#password-login {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0 0 0 10px;
}

#login-form-btn {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  border: none;
  border-radius: 7px;
  background-color: var(--colour5);
  font-size: 1.75rem;
  color: var(--colour1);
  margin-top: 20px;
}

#login-form-btn:hover {
  background-color: var(--colour6);
}

#signup-btn {
  background-color: var(--colour2);
  border: none;
  margin: 20px 0px 30px 20px;
}

#signup-link {
  text-decoration: none;
  color: var(--colour7);
  font-size: 1.5rem;
  font-weight: bold;
}

#signup-link:hover {
  color: var(--colour8);
}

/* SIGN UP FORM STYLING */
#sign-up-container {
  background-color: var(--colour2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 50px 10px 50px;
  border: 3px solid var(--colour4);
  gap: 15px;
}

#sign-up-header {
  background-color: var(--colour4);
  width: 100%;
  color: var(--colour1);
  padding: 10px 15px;
}

#sign-up-form {
  width: 100%;
}

.form-group {
  padding: 10px 15px;
}

#name-sign-up {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0 0 0 10px;
}

#email-sign-up {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0 0 0 10px;
}

#password-sign-up {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0 0 0 10px;
}

#sign-up-form-btn {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  border: none;
  border-radius: 7px;
  background-color: var(--colour5);
  font-size: 1.75rem;
  color: var(--colour1);
  margin-top: 20px;
}

#sign-up-form-btn:hover {
  background-color: var(--colour6);
}

#login-btn {
  background-color: var(--colour2);
  border: none;
  margin: 20px 0px 30px 20px;
}

#login-link {
  text-decoration: none;
  color: var(--colour7);
  font-size: 1.5rem;
  font-weight: bold;
}

#login-link:hover {
  color: var(--colour8);
}

/* COMMENT FORM STYLING */

#comments-div {
  display: flex;
  justify-content: center;
}

#comment-container {
  background-color: var(--colour2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -10px 50px 30px 50px;
  border: 3px solid var(--colour4);
  gap: 15px;
  width: 80%;
}

#comment-header {
  background-color: var(--colour4);
  width: 100%;
  color: var(--colour1);
  padding: 30px 15px;
}

#comment-form-container {
  width: 100%;
}

.comment-form-group {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}

#user-comment {
  width: 85%;
  border: 3px solid var(--colour8);
  border-radius: 7px;
  font-size: 1.75rem;
  line-height: 2.5rem;
  padding: 15px 20px;
  margin-top: 5px;
}

#comment-submit-btn {
  width: 85%;
  height: 60px;
  padding: 10px 0px;
  border: none;
  border-radius: 7px;
  background-color: var(--colour5);
  font-size: 1.75rem;
  color: var(--colour1);
  margin: 10px 0 30px 0;
}

#comment-submit-btn:hover {
  background-color: var(--colour6);
}

/* POSTED COMMENT SECTION STYLING */
#comments-section-container {
  display: flex;
  justify-content: center;
}

#comments-section-div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 80%;
  border: 3px solid var(--colour3);
  border-radius: 7px;
}

#top-border {
  background-color: var(--colour4);
  height: 50px;
  width: 100%;
}

#posted-comments-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px 20px;
  gap: 5px;
}

#posted-comments-div p {
  line-height: 1.5;
}

/* NEW POST SECTION STYLING */
#new-post-container {
  height: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#new-post-btn {
  margin-top: 39px;
  padding: 15px 35px;
  background-color: var(--colour4);
  color: var(--colour1);
  font-size: 1.75rem;
  font-weight: bold;
  border: none;
  border-radius: 7px;
}
#new-post-btn:hover {
  background-color: var(--colour3);
}

#new-post-header {
  background-color: var(--colour4);
  width: 80%;
  color: var(--colour1);
  padding: 10px 15px;
}

#new-user-post {
  width: 80%;
  border: 3px solid var(--colour3);
  padding: 0 0 25px;
}

#new-blog-title {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0px 0 0 20px;
  margin-top: 5px;
}

#new-blog-content {
  width: 100%;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 10px 20px;
  margin-top: 5px;
}

#submit-post-btn {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  border: none;
  border-radius: 7px;
  background-color: var(--colour5);
  font-size: 1.75rem;
  color: var(--colour1);
  margin-top: 20px;
}

#submit-post-btn:hover {
  background-color: var(--colour6);
}

/* POSTED BLOGS SECTION STYLING */
#posted-blogs-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posted-blogs-div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 90%;
}

.posted-blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 30px;
}

.posted-blog {
  width: 100%;
  padding: 15px 30px;
  font-size: 1.75rem;
  font-weight: bold;
  background-color: var(--colour2);
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.posted-blog:hover {
  background-color: var(--colour3);
  color: var(--colour1);
}

/* EDIT POST SECTION STYLING */
#edit-post-container {
  height: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 90%;
}

#edit-post-header {
  background-color: var(--colour4);
  width: 80%;
  color: var(--colour1);
  padding: 10px 15px;
}

#edit-user-post {
  width: 80%;
  border: 3px solid var(--colour3);
  padding: 0 0 25px;
}

#edit-blog-title {
  width: 100%;
  height: 60px;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-size: 1.75rem;
  padding: 0px 0 0 20px;
  margin-top: 5px;
}

#edit-blog-content {
  width: 100%;
  border: 3px solid var(--colour3);
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 10px 20px;
  margin-top: 5px;
}

#update-blog-btn,
#delete-blog-btn {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  border: none;
  border-radius: 7px;
  background-color: var(--colour5);
  font-size: 1.75rem;
  color: var(--colour1);
}

#update-blog-btn:hover,
#delete-blog-btn:hover {
  background-color: var(--colour6);
}

/* MEDIA QUERIES - RESPONSIVE DESIGN */
@media (max-width: 700px) {
  /* HEADER SECTION */
  .blog-title p {
    font-size: 1.5rem;
  }

  .user p {
    font-size: 1.1rem;
  }

  .blog-content {
    font-size: 1.25rem;
  }

  /* COMMENTS SECTION */
  #user-comment {
    font-size: 1.25rem;
  }

  #posted-comments-div p {
    font-size: 1.25rem;
  }

  /* DASHBOARD */
  #dashboard {
    font-size: 2.75rem;
  }
}

@media (max-width: 400px) {
  /* HEADER SECTION */
  #nav-links a {
    font-size: 1.3rem;
  }

  #logout-btn {
    font-size: 1.3rem;
  }

  /* BLOGS ON HOMEPAGE */
  .blog-header {
    font-size: 3rem;
  }

  .blog-title p {
    font-size: 1.2rem;
  }

  .user p {
    font-size: 1rem;
  }

  .blog-content {
    font-size: 1.1rem;
  }

  /* COMMENTS SECTION */
  #user-comment {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  #posted-comments-div p {
    font-size: 1.1rem;
  }

  /* DASHBOARD */
  #dashboard {
    font-size: 2rem;
  }

  #new-post-btn {
    font-size: 1.3rem;
  }
}
